<%# <div style="background-color: #f9f7f6; padding: 20px 0;" class="section"> %>
<footer class="section main-footer" style="background-color: #f9f7f6; padding: 60px 0;">

  <%# <div class='row'> %>
  <%#   <div class='columns small-12'> %>
  <%#     <hr> %>
  <%#   </div> %>
  <%# </div> %>

  <div class="row">
    <div class="columns small-6">
      <div class="footer-section-header">
        <strong>New here?</strong> The popular stuff:
      </div>
      <ul>
        <li><%= link_to "My Biggest Productivity Hack", "http://theminimalistcoder.com/biggest-productivity-hack" %></li>
        <li><%= link_to "Waking up early", "http://theminimalistcoder.com/wake" %></li>
        <li><%= link_to "The death of individuality online", "http://theminimalistcoder.com/the-death-of-individuality-online" %></li>
      </ul>
    </div>

    <div class="columns small-6">
      <div class="footer-section-header">
        <strong>Back again?</strong> Catch up:
      </div>
      <ul>
        <% Post.all.take(3).each do |post| %>
          <li><%= link_to(post.title, post_url(post.slug)) %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="columns footer-links">
      <p>
        Content released under the <%= link_to "creative commons", "http://creativecommons.org/licenses/by/4.0/" %> license.
        Subscribe to the <%= link_to "RSS", feed_url %> feed.
      </p>
    </div>
  </div>
</footer>
