<header class="main-header bg-smoke">
  <div class='row'>

    <div class='columns small-3' style="padding-top: 10px;">
      <div class="flip-container js-flip-container">
        <div class="flipper">
          <div class="front">
            <%= link_to image_tag("rodrigo.jpg", alt: "Rodrigo Haenggi", class: "avatar"), root_url, id: "rodrigo" %>
          </div>
        </div>
      </div>
    </div>

    <div class='columns small-9'>
      <h1 style="font-weight: 200">the<b>minimalist</b>coder</h1>
      <p>
        Hey there, my name is Rodrigo. I'm the co-founder of <%= link_to "Codegestalt", "http://codegestalt.com", target: "_BLANK" %> and <%= link_to "Master21", "https://master21.academy", target: "_BLANK" %>
        and this is where I write down my thoughts.
      </p>
      <p>
      You can contact me via <%= mail_to "rodrigo@codegestalt.com", "E-Mail" %> (<%= link_to "PGP", "https://theminimalistcoder.s3-eu-west-1.amazonaws.com/public/RodrigoHaenggi_9A256592.asc", target: "_BLANK" %>) or <%= link_to "Twitter", "https://twitter.com/therod", target: "_BLANK" %>
      </p>
    </div>
  </div>
</header>
