<header id="header" class="main-navigation" data-controller="navigation">
  <nav class="main-navigation__menu" data-target="navigation.menu">
    <ul>
      <li><%= link_to "Home", root_url %></li>
      <li><%= link_to "Articles", articles_url %></li>
      <%# <li><%= link_to "Principles", page_path("principles") %1></li> %>
      <li><%= link_to "Commonplace", commonplaces_path %></li>
      <li><%= link_to "Talks", page_path("talks") %></li>
    </ul>
  </nav>

  <div class="main-navigation__menu-label" data-target="navigation.menuLabel" data-action="click->navigation#toggle">
    <div>Menu <%= fa_icon 'chevron-down' %></div>
  </div>

  <div class="main-navigation__logo">
    <h1><%= link_to "Rodrigo Hänggi".html_safe, root_url %></h1>
  </div>
</header>
