<section class="card card--subscribe">
  <div>
    <%= form_for @subscriber, url: subscribers_path do |form| %>
       <%= form.invisible_captcha :topic %>
      <%= form.label :email, "Subscribe below to get future articles <br> directly into your inbox".html_safe , class: 'font-bold mb-2 block' %>
      <div class="flex w-full mb-1">
        <%= form.text_field :email, placeholder: "Type your email...", required: true, class: 'border mt-2 mb-2 text-md px-3 py-2 rounded-l-full w-2/3 focus:outline-none focus:border-blue-400' %>
        <%= form.submit "Subscribe", class: 'rounded-r-full text-md px-3 mt-2 mb-2 bg-gray-50 cursor-pointer border border-l-0 w-1/3' %>
      </div>
    <% end %>
    <p class="mb-2 text-center">
      Or use the <%= link_to "RSS feed", articles_url(format: :atom), class: "underline" %>
    </p>
  </div>
</section>
