<article class="post section">

  <div class="row">
    <div class="columns small-12">
      <section class="post-body medium tf">

        <%# CODEGESTALT %>
        <h1>Co-Founder at Codegestalt</h1>
        <p>
          <%= link_to "Codegestalt", "https://codegestalt.com" %> is where I build solutions to problems that I care about. sdkflsjdkfs djflsdfj sdlfjksdlk fjsdlkf jdslfkjds lkfjsdklf jsdklfj dslkfjsdl kjf
          <%= image_tag "codegestalt.jpg" %>
        </p>

        <%# Master21 %>
        <h1>Co-Founder at Master21</h1>
        <p>
          <%= link_to "Master21", "https://master21.academy" %> is where I build solutions to problems that I care about.
          <%= image_tag "teaching.jpg" %>
        </p>

        <%# Master21 %>
        <h1>Organizer #JTBD Meetup Switzerland</h1>
        <p>
          <%= link_to "Jobs To Be Done", "https://www.meetup.com/jobs-to-be-done-meetup-switzerland/" %> is where I build solutions to problems that I care about.
          <%= image_tag "mario-jtbd.jpg" %>
        </p>
      </section>
    </div>
  </div>

</article>
