<div class="container">
  <header class="header-section">
    <%= inline_svg 'minimalist-maze.svg', alt: 'logo', class: 'logo' %>
    <div class="intro-section">
      <h1 class="title"><%= t('home.title') %></h1>
      <p><%= t('home.subtitle_b') %></p>
      <p><%= t('home.subtitle_a', cg: link_to('Codegestalt', 'https://codegestalt.com', target: '_BLANK'), m21: link_to('Master21', 'https://master21.academy', target: '_BLANK')).html_safe %></p>
    </div>
    <nav class="nav-section">
      <ul class="nav-links">
        <% t('navigation.links').each do |link| %>
          <li><%= link_to link[:title], public_send(link[:path]) %></li>
        <% end %>
      </ul>
    </nav>
  </header>
</div>

<div class="container">
  <section class="interest-section">
    <p><%= t('home.interests_title') %></p>
    <ul>
      <% t('navigation.interests').each do |interest| %>
        <li class="interest-line">
          <strong><%= link_to interest[:title], interest[:url], target: '_BLANK' %></strong>
          <span><%= interest[:description] %></span>
        </li>
      <% end %>
      </li>
    </ul>
  </section>
</div>

<div class="container">
  <section class="bio-section">
    <%= image_tag 'rodrigo-haenggi.jpg', class: 'headshot', alt: 'Rodrigo Hänggi', width: 150 %>
    <article class="bio-section-text">
      <%= Kramdown::Document.new(t('home.bio.about')).to_my_html.html_safe %>
    </article>
  </section>
</div>
