<article class="post section">

  <div class="row">
    <div class="columns small-12">
      <section class="post-body medium tf">

        <%# CODEGESTALT %>
        <h1>Co-founder at Codegestalt</h1>
        <p>
          At <%= link_to "Codegestalt", "https://codegestalt.com", target: "_BLANK" %> I design and develop solutions to problems that I care about.
          I run the company together with my bussiness partner, <%= link_to "Daniel Puglisi", "http://danielpuglisi.com", target: "_BLANK" %>.
          From inception up to the last line of code - we have designed and programmed solutions for
          <%= link_to "clients", "https://foodonrecord.com", target: "_BLANK" %>,
          <%= link_to "large publishers", "https://rotpunktverlag.ch", target: "_BLANK" %>,
          <%= link_to "family", "https://budosportcenter.ch", target: "_BLANK" %>,
          <%= link_to "friends", "https://programmzeitung.ch", target: "_BLANK" %> and the
          <%= link_to "swiss government", "http://lehrplaene.ch", target: "_BLANK" %>.

          We've also released a new product this year that helps martial arts studios acquire more new customers. <%= link_to "Go check it out", "https://kampfsport.center", target: "_BLANK" %>.

          <%= image_tag "codegestalt.jpg" %>
        </p>

        <%# Master21 %>
        <h1>Co-founder at Master21</h1>
        <p>
          At <%= link_to "Master21", "https://master21.academy", target: "_BLANK" %>, Switzerlands first coding bootcamp, I teach people how to design, code and launch digital products together with other skills that matter for the 21st century.
          My main job is to design and test the curriculum while my Co-founder, <%= link_to "Melanie Kovacs", "https://twitter.com/melakovacs?lang=en", target: "_BLANK" %> takes care of business.
          <%= image_tag "teaching.jpg" %>
        </p>

        <%# Master21 %>
        <h1>Organizer #JTBD Meetup Switzerland</h1>
        <p>
          "Customers are not interested in your solution. They are only interested in their problems." So what job is your product or service solving? How does it make your customers' lives better?

          <%= image_tag "mario-jtbd.jpg" %>

          Deeply inspired by Alan Klements' <%= link_to "When Coffee and Kale Compete", "http://www.whencoffeeandkalecompete.com", target: "_BLANK" %>
          and Kathy Sierras' <%= link_to "Badass: Making Users Awesome", "https://www.amazon.com/Badass-Making-Awesome-Kathy-Sierra/dp/1491919019/ref=sr_1_1?ie=UTF8&qid=1501847593&sr=8-1&keywords=badass+making+users+awesome", target: "_BLANK" %>,
          I want to share this exciting way of looking at how we develop products and services with other people.
          That's why I've started the first <%= link_to "Jobs To Be Done", "https://www.meetup.com/jobs-to-be-done-meetup-switzerland/", target: "_BLANK" %> Meetup in Switzerland together
          with <%= link_to "other #JTBD enthusiasts", "https://www.meetup.com/jobs-to-be-done-meetup-switzerland/members/?op=leaders", target: "_BLANK" %>.
        </p>

        </p>
      </section>
    </div>
  </div>

</article>
