<article class="post section">

  <div class="row">
    <div class="columns small-12">
      <section class="post-body medium tf">

        <%# CODEGESTALT %>
        <h1>Co-founder at Codegestalt</h1>
        <p>
          At <%= link_to "Codegestalt", "https://codegestalt.com", target: "_BLANK" %> I design and develop solutions to problems that I care about.
          I run the company together with my bussiness partner, <%= link_to "Daniel Puglisi", "http://danielpuglisi.com", target: "_BLANK" %>.
          From inception up to the last line of code - we have built solutions for
          <%= link_to "clients", "https://foodonrecord.com", target: "_BLANK" %>,
          <%= link_to "publishers", "https://rotpunktverlag.ch", target: "_BLANK" %>,
          <%= link_to "family", "https://budosportcenter.ch", target: "_BLANK" %>,
          <%= link_to "friends", "https://programmzeitung.ch", target: "_BLANK" %> and the
          <%= link_to "swiss government", "http://lehrplaene.ch", target: "_BLANK" %>.

          We've also released a new product this year that helps martial arts studios grow. <%= link_to "Go check it out", "https://kampfsport.center", target: "_BLANK" %>.


          <%= image_tag "codegestalt.jpg" %>
        </p>

        <%# Master21 %>
        <h1>Co-founder at Master21</h1>
        <p>
          <%= link_to "Master21", "https://master21.academy" %> is where I build solutions to problems that I care about.
          <%= image_tag "teaching.jpg" %>
        </p>

        <%# Master21 %>
        <h1>Organizer #JTBD Meetup Switzerland</h1>
        <p>
          <%= link_to "Jobs To Be Done", "https://www.meetup.com/jobs-to-be-done-meetup-switzerland/" %> is where I build solutions to problems that I care about.
          <%= image_tag "mario-jtbd.jpg" %>
        </p>
      </section>
    </div>
  </div>

</article>
