<div class="artwork-section">
  <div class="artwork-section__text">
    <%= markdown(@description) %>
    <%= markdown(t('home.contact')) %>
  </div>
  <div class="artwork-section__art">
    <%= image_tag "theminimalistcoder-kimono-mascott.jpg", width: "100%" %>
  </div>
</div>

<h2>Current Work</h2>

<% t('home.works').each do |work| %>
  <h3><%= link_to work[:title], work[:url], target: "_BLANK" %></h3>
  <%= markdown(work[:body]) %>
<% end %>

<hr>

<h2>Current Research</h2>

<% @research_topics.each do |topic| %>
  <h3><%= link_to topic.title, commonplace_path(topic.slug) %></h3>
  <%= markdown(topic.description) %>
<% end %>
