<% @posts.each do |post| %>
  <div class="row">
    <div class="columns large-12 medium-12 small-12 text-center">
      <% unless post.image.nil? %>
        <div class="post-image">
            <%= link_to image_tag(post.image, width: 200), post_url(post.slug), style: "display: block;" %>
        </div>
      <% end %>
    </div>
    <div class="columns large-12 medium-12 small-12">
      <header class="post-header">
          <h1><%= link_to post.title, post_url(post.slug) %></h1>
        <div class="post-header-info">
          <%= formatted_date(post.date) %>
        </div>
      </header>

      <div class="post-body medium tf padded">
        <% if post.is_excerpt? %>
          <%= truncate(post.content_html, length: 0, separator: '[- - -MORE- - -]', escape: false, omission: link_to( "Continued...",post.slug)) %>
        <% else %>
          <%= post.content_html %>
        <% end %>
      </div>

    </div>
  </div>
<% end %>


<div class="row">
  <div class="columns">
    <%= paginate @posts %>
  </div>
</div>
