<ul class="listing">
<% @posts.each do |post| %>
  <li id="<%= post.id %>">
    <div class="post-header">
      <h1><%= link_to post.title, post_url(post.slug) %></h1>
      <span class="post-date"><%= formatted_date(post.date) %></span>
    </div>

    <%= link_to post_url(post.slug) do %>
      <div class="post-image" style="background-image: url(<%= asset_path(post.image) %>);"></div>
    <% end %>

    <div class="post-summary medium tf">
      <%= post.summary_html %>
    </div>

    <%= link_to "READ ON...", post_url(post.slug), class: "readon" %>
    <div style="clear: both;"></div>
  </li>
<% end %>
</ul>
