<article class="post section" style="padding: 25px 0;">

  <div class="row">
    <div class="columns small-12">
      <header class="post-header">
        <h1><%= @post.title %></h1>
        <div class="post-header-info">
          <%= formatted_date(@post.date) %>
        </div>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12">
      <section class="post-body medium tf padded">
        <%=raw (@post.content_html).gsub("[- - -MORE- - -]", '') %>
      </section>
    </div>
  </div>


  <div style="" class="section">
    <div class="row">
      <div class="columns small-12">
        <div class='row'>
          <div class='columns small-12'>
            <hr>
          </div>
        </div>
        <section class="post-navigation">
          <% if @post.next_post %>
            <div class="next-post normal">
              <%= link_to @post.next_post.slug do %>
                <h3>Next Article</h3>
                <%= link_to @post.next_post.title, post_url(@post.next_post.slug) %>
              <% end %>
            </div>
          <% end %>
          <% if @post.previous_post %>
            <div class="previous-post normal">
              <%= link_to @post.previous_post.slug do %>
                <h3>Previous Article</h3>
                <%= link_to @post.previous_post.title, post_url(@post.previous_post.slug) %>
              <% end %>
            </div>
          <% end %>
        </section>
      </div>
    </div>
  </div>

</section>
