<header class="main-header">

  <div class="circle">
    <%= link_to root_url do %>
      <% if params[:action] == "books" %>
        <%= image_tag "books.png" %>
      <% else %>
        <%= image_tag "avatarone.jpg" %>
      <% end %>
    <% end %>
  </div>

  <% if params[:action] == "index" %>
  <div class="summary">
    Hi, I'm Rodrigo. I design software and help people at <%= link_to "Codegestalt", "http://codegestalt.com" %>.<br>
    I am currently trying to figure out how to live a meaningful life
    and will be sharing my experiences and insights here.<br>
    Have a great <%= Date.today.strftime("%A") %>!
    <%# I will be sharing my experiences and insights here. %>
  </div>
  <% end %>

  <% if params[:action] == "books" %>
  <div class="summary">
    Welcome to my Library. Here you'll find a list off all the Books I'm currently reading and the ones I've read.
  </div>
  <% end %>

</header>
