<header class="main-header">

  <div class="circle">
    <%= link_to root_url do %>
      <%= image_tag "avatarone.jpg" %>
    <% end %>
  </div>

  <div class="summary medium tf">
    Hi, I'm Rodrigo. I design software and help people at <%= link_to "Codegestalt", "http://codegestalt.com" %>.
    I am currently trying to figure out how to live a meaningful life
    and will be sharing my experiences and insights here.

    <div class="main-navigation small df">
      <ul>
        <li><%= active_link_to 'Essays', root_url, active: [['posts'], ['index', 'show']] %></li>
        <li><%= active_link_to "Library", books_url, active: [['pages'], ['books']]  %></li>
      </ul>
    </div>
  </div>

  <div style="clear: both;"></div>

</header>
