<header class="main-header">

  <div class="circle">
    <%= link_to root_url do %>
      <%= image_tag "avatarone.jpg" %>
    <% end %>
  </div>

  <div class="summary">
    Hi, I'm Rodrigo. I design software and help people at <%= link_to "Codegestalt", "http://codegestalt.com" %>.
    I am currently trying to figure out how to live a meaningful life
    and will be sharing my experiences and insights here.<br>
    <%# Have a great <%= Date.today.strftime("%A") %1>! %>
    <%# I will be sharing my experiences and insights here. %>
  </div>

  <div class="main-navigation">
    <ul>
      <li class="<%= "active" if params[:action] == "books" %>"><%= link_to "Library", books_url %></li>
    </ul>
  </div>

</header>
