<ul>
  <li>
    <%= link_to raw("<i class='icon-twitter'></i>"), "https://twitter.com/therod", title: "Twitter", class: "tooltip downward"  %>
  </li>
  <li>
    <%= link_to raw("<i class='icon-facebook-sign'></i>"), "https://www.facebook.com/rodrigo.haenggi", title: "Facebook", class: "tooltip downward"  %>
  </li>
  <li>
    <%= link_to raw("<i class='icon-google-plus'></i>"), "https://plus.google.com/105879682427060064347", title: "Google +", class: "tooltip downward"  %>
  </li>
  <li>
    <%= link_to raw("<i class='icon-instagram'></i>"), "http://instagram.com/rodrigohaenggi", title: "Instagram", class: "tooltip downward"  %>
  </li>
  <li>
    <%= link_to raw("<i class='icon-flickr'></i>"), "http://www.flickr.com/photos/rodrigohaenggi/", title: "Flickr", class: "tooltip downward"  %>
  </li>
  <li>
    <%= link_to raw("<i class='icon-youtube-play'></i>"), "https://vimeo.com/therod", title: "Vimeo", class: "tooltip downward"  %>
  </li>
  <li>
    <%= link_to raw("<i class='icon-music'></i>"), "http://www.last.fm/user/rodrigohaenggi", title: "last.fm", class: "tooltip downward"  %>
  </li>
  <li>
    <%= link_to raw("<i class='icon-github'></i>"), "https://github.com/therod", title: "GitHub", class: "tooltip downward"  %>
  </li>
  <li>
    <%= link_to raw("<i class='icon-envelope'></i>"), "mailto:rodrigo@codegestalt.com", title: "Email", class: "tooltip downward"  %>
  </li>
  <li>
    <%= link_to raw("<i class='icon-rss'></i>"), feed_url, title: "RSS Feed", class: "tooltip downward"  %>
  </li>
</ul>
