<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>

    <%= auto_discovery_link_tag :atom, articles_url(format: :atom), title: 'Feed' %>

    <link rel="apple-touch-icon" sizes="300x300" href="<%= asset_url 'apple-touch-icon.png' %>">
    <link rel="icon" type="image/png" sizes="300x300" href="<%= asset_url 'apple-touch-icon.png' %>">

    <meta name="description" content="<%= @description %>">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="<%= asset_url 'rodrigo-haenggi.jpg' %>">
    <meta property="og:type" content="article">
    <meta property="og:url" content="<%= original_url %>">
    <meta property="og:title" content="<%= @title %>">
    <meta property="og:description" content="<%= @description %>">
    <meta property="og:image" content="<%= asset_url 'rodrigo-haenggi.jpg' %>">
  </head>

  <body>
    <main id="main-content" class="max-w-6xl pt-4 pb-4 pl-4 pr-4 ml-auto mr-auto">
      <div class="max-w-2xl ml-auto mr-auto">
        <header class="mt-12 mb-12 text-center">
          <%= link_to root_url, class: 'no-underline' do %>
            <%= image_tag "rodrigo-haenggi.jpg", size: "80x80", class: "rounded-full inline-flex" %>
            <h1 class="mt-2 text-base tracking-widest text-gray-500 uppercase">Rodrigo Hänggi</h1>
          <% end %>
        </header>

        <section>
          <%= yield %>
        </section>

        <footer class="pt-8">
          <p class="text-sm text-center text-gray-500">
          <%= link_to "Mail", "mailto:rodrigo@codegestalt.com", target: "_BLANK" %>,
          <%= link_to "Twitter", "https://twitter.com/therod", target: "_BLANK" %>,
          <%= link_to "LinkedIn", "https://www.linkedin.com/in/rodrigo-hänggi/", target: "_BLANK" %>
          ·
          <%= link_to "RSS feed", articles_url(format: :atom) %>
          </p>
        </footer>
      </div>
    </main>
  </body>
</html>
