<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= auto_discovery_link_tag :atom, articles_url(format: :atom), title: 'Feed' %>

    <link rel="apple-touch-icon" sizes="300x300" href="<%= asset_url 'apple-touch-icon.png' %>">
    <link rel="icon" type="image/png" sizes="300x300" href="<%= asset_url 'apple-touch-icon.png' %>">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="<%= asset_url 'apple-touch-icon.png' %>">
    <meta property="og:type" content="article">
    <meta property="og:url" content="<%= original_url %>">
    <meta property="og:title" content="<%= @title %>">
    <meta property="og:description" content="<%= @description %>">
    <meta property="og:image" content="<%= asset_url 'apple-touch-icon.png' %>">

    <%# <%= csrf_meta_tags %1> %>
    <%# <%= csp_meta_tag %1> %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %1> %>
  </head>

  <body>
    <main id="main-content" class="page page--medium@medium">
      <div class="page__content">
        <header>
          <%= link_to root_url do %>
            <%= image_tag "rodrigo-haenggi.jpg", size: "70x70" %>
            <h1>Rodrigo Hänggi</h1>
          <% end %>
        </header>
        <section>
          NAVIGATION GOES HERE
        </section>
        <section>
          <%= yield %>
        </section>
      </div>
    </main>

  </body>
</html>
