<!DOCTYPE html>
<html>
  <head>
    <title>rodrigohaenggi.com</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <meta name="viewport" content="width=device-width, initial-scale=0.50" />
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'shared/analytics' %>
    <script type="text/javascript" src="//use.typekit.net/fjr3bxd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/navigation' %>
      <div class="content">
        <%= yield %>
        <footer>
          <span class="copyright">
            &copy; 2013 Rodrigo Haenggi
          </span>
          <div class="social_navigation">
            <%= render 'layouts/social' %>
          </div>
        </footer>
      </div>
    </div>
  </body>

</html>
