<!DOCTYPE html>
<html lang="en">
  <head>
    <% if @post %>
      <meta property="og:image" content="<%= image_url asset_path(@post.image) %>"/>
      <meta property="og:title" content="<%= @post.title %>" />
      <link rel="image_src" href="<%= image_url asset_path(@post.image) %>"/>
    <% end %>

    <title>the minimalist coder</title>

    <%# TODO: Update Descriptioin %>
    <meta name="description" content="The Minimalist Coder." />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= render 'shared/analytics' %>
    <script type="text/javascript" src="//use.typekit.net/fjr3bxd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>


    <%= render 'layouts/header' %>
    <div class="row">
      <div class="columns large-12">
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div>



  </body>

</html>
