<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(@title) %></title>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'shared/meta' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= auto_discovery_link_tag :rss, articles_url(format: :rss) %>
  </head>

  <body data-controller="application">
    <%= yield %>
  </body>
</html>
