<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(@title) %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= @description %>">

    <meta property="og:title" content="<%= page_title(@title) %>">
    <meta property="og:image" content="<%= asset_url(@og_image) %>">
    <meta property="og:description" content="<%= @description %>">

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body data-controller="application">
    <div class="mc-container">
      <%= render 'shared/navigation' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
